* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

@media screen and (max-width:767px) {
    .container {
        max-width: 100%;
        padding: 20px;
    }
}